<!DOCTYPE html>
<html>
  <head>
    <title>ProgrammingBlog</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# https://stackoverflow.com/questions/65858869/webpacker-cant-find-application-css-in-app-public-packs-manifest-json %>
    <%= stylesheet_pack_tag 'index' %>
    <%#= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
